*.class

# Package Files #
*.jar
*.war
*.ear
/experimental/jQuery/nbproject/private/
/projects/GeoCaching/build/
/experimental/jQuery/build/
/experimental/jQuery/dist/
/projects/GeoCaching/dist/
/projects/GeoCaching/src/conf/persistence.xml